@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --danger: #f05252;
  --danger-20: rgb(240, 82, 82, 0.2);
  --danger-10: rgb(240, 82, 82, 0.1);
  --open: #3f83f8;
  --success: #19be34;
  --warning: #c27803;
  --draft: #6b7280;
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Lexend';
  font-weight: normal;
  font-style: normal;
}

/*=====================================================
 * Input Related Styling
 ======================================================*/
.input {
  @apply border rounded text-sm px-3 py-2 focus:!outline-0 focus:border-black group-focus:border-black group-focus:!outline-0;
  @apply disabled:border-none disabled:opacity-100 disabled:bg-white;
}

/* TODO: Update the styling for checkbox later on */
.input[type='checkbox'] {
  @apply w-4 h-4 !rounded-sm !border-gray-100;
}

select.input {
  @apply disabled:appearance-none;
}

.cont {
  @apply bg-white p-4 shadow rounded-2xl;
}

/*=====================================================
 * Table Related Styling
 ======================================================*/
.table-wrapper {
  @apply cont flex flex-col gap-4;
}

.table-header {
  @apply font-semibold text-base whitespace-nowrap;
}

.gen-table-row {
  padding: 4px 0px;
  cursor: pointer;
}

.gen-table-row:hover {
  border-radius: 2px;
  background-color: #eff6ff;
}

/*=====================================================
 * Button Related Styling
 ======================================================*/
.btn {
  @apply px-4 py-2 rounded bg-primary text-white font-semibold text-sm;
}

.btn-outline {
  @apply px-4 py-2 rounded border border-primary text-primary font-semibold text-sm bg-white;
}

.status {
  @apply px-2 py-1 text-xs font-semibold rounded-md h-fit;
}

.badge {
  @apply px-2 py-1 text-xs font-semibold rounded-md h-fit bg-opacity-20;
}

.row-menu-item {
  @apply border-b text-sm last:border-none px-3 py-1 hover:bg-blue-100 first:rounded-t-lg last:rounded-b-lg;
}

/* Dev defined classes for special used */
.purchase-status-open {
  color: var(--open);
  background-color: rgba(63, 131, 248, 0.2);
}

.purchase-status-confirmed {
  color: var(--warning);
  background-color: rgb(194, 120, 3, 0.2);
}

.purchase-status-completed,
.done {
  color: var(--success);
  background-color: rgb(25, 190, 52, 0.2);
}

.purchase-status-cancelled {
  color: var(--danger);
  background-color: var(--danger-20);
}

.draft {
  color: var(--draft);
  background-color: rgb(107, 114, 128, 0.2);
}

/*=====================================================
 * KEYFRAMES, ANIMATIONS, TRANSISTIONS
 ======================================================*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
