@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Lexend';
  font-weight: normal;
  font-style: normal;
}

/*=====================================================
 * Input Related Styling
 ======================================================*/
.input {
  @apply border rounded text-sm px-3 py-2 focus:!outline-0 focus:border-black group-focus:border-black group-focus:!outline-0 ;
  @apply disabled:border-none disabled:opacity-100 disabled:bg-white;
}

/* TODO: Update the styling for checkbox later on */
.input[type='checkbox'] {
  @apply w-4 h-4 !rounded-sm !border-gray-100;
}

select.input {
  @apply disabled:appearance-none;
}

/*=====================================================
 * Table Related Styling
 ======================================================*/
.table-wrapper {
  @apply rounded-2xl shadow bg-white p-4 flex flex-col gap-4;
}

.table-header {
  @apply font-semibold text-base whitespace-nowrap;
}


/*=====================================================
 * Button Related Styling
 ======================================================*/
.btn {
  @apply px-4 py-2 rounded bg-primary text-white font-semibold text-sm;
}

.btn-outline {
  @apply px-4 py-2 rounded border border-primary text-primary font-semibold text-sm bg-white;
}

.status {
  @apply px-2 py-1 text-xs font-semibold rounded-md h-fit;
}

.badge {
  @apply px-2 py-1 text-xs font-semibold rounded-md h-fit bg-opacity-20;
}

.row-menu-item  {
  @apply border-b text-sm last:border-none px-3 py-1 hover:bg-blue-100 first:rounded-t-lg last:rounded-b-lg;
}

/* Dev defined classes for special used */
.purchase-status-open {
  color: #3F83F8;
  background-color: rgba(63, 131, 248, 0.2);
}

.purchase-status-confirmed {
  color: #C27803;
  background-color: rgb(194, 120, 3, 0.2);
}

.purchase-status-completed {
  color: #19BE34;
  background-color: rgb(25, 190, 52, 0.2);
}

.purchase-status-cancelled {
  color: #F05252;
  background-color: rgb(240, 82, 82, 0.2);
}
